html, body {
  display: flex;
  flex-direction: column;
  font-family: 'system-ui', sans-serif;
  background: linear-gradient(#d1e9fd, #ffffff);
  background-attachment: fixed;
  cursor: url(cursor.png), auto;
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  scroll-behavior: smooth;
}

a {
  color: #447bfc;
  cursor: url(cursor-click.png), auto;
}

a:hover {
  color: #619cfa;
}

button {
  cursor: url(cursor-click.png), auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3ch;
}

.search, .title-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

input {
  border-radius: 10px;
  border: 1px solid grey;
  height: 3.5ch;
  padding-left: 10px;
  cursor: url(cursor-text.png), auto;
}

img {
  border-radius: 10px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a8d8ff;
  bottom: 0;
}

footer * {
  margin: 10px;
  font-size: 14px;
}

.site-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 16px;
}

.site-title h1 {
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: flex-start;
} 

.links a {
  text-decoration: none;
  padding-left: 15px;
}  

main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

pre {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  overflow-y: auto;
}

.go-back-home {
  padding: 10px 20px;
  background-color: #035efc;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.go-back-home:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #003eab;
}

.result {
  background-color: #fff87a;
  border-radius: 5px;
}

@media (max-width: 600px) {
  pre {
    width: calc(100dvw - 20px);
  }

  .site-title {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: linear-gradient(#05223a, #000000);
    color: white;
  }

  footer {
    background-color: #011c32;
  }

  nav, .title-content {
    color: white;
  }

  .site-title {
    border-bottom: 1px solid white;
  }

  span {
    color: black;
  }
}