html, body {
  display: flex;
  flex-direction: column;
  font-family: 'system-ui', sans-serif;
  background: linear-gradient(#d1e9fd, #ffffff);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  scroll-behavior: smooth;
}

a {
  color: #447bfc;
}

a:hover {
  color: #619cfa;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3ch;
}

.search, .title-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

input {
  border-radius: 10px;
  border: 1px solid grey;
  height: 3.5ch;
  padding-left: 10px;
}

img {
  border-radius: 10px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a8d8ff;
  bottom: 0;
}

footer * {
  margin: 10px;
  font-size: 14px;
}

nav {
  position: sticky;
  top: 0;
  background-color: #d1e9fd;
  padding-bottom: 10px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

.site-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 5px;
}

.site-title h1 {
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: flex-start;
} 

.links a {
  text-decoration: none;
  padding-left: 15px;
}  

main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.go-home {
  padding: 10px 20px;
  background-color: #008afb;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.go-home:hover {
  text-decoration: none;
  color: white;
  background-color: #005ca8;
}

.result {
  background-color: #fff87a;
  border-radius: 5px;
}

pre, .code {
  background-color: lightgray;
  border: 1px solid grey;
  padding: 3px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  pre {
    width: calc(100dvw - 20px);
  }

  .site-title {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: linear-gradient(#05223a, #000000);
    color: white;
  }

  footer {
    background-color: #011c32;
  }

  nav, .title-content {
    color: white;
  }

  nav {
    background-color: #05223a;
  }

  .site-title {
    border-bottom: 1px solid white;
  }

  span, code {
    color: black;
  }

  ::-webkit-scrollbar {
    background-color: #05223a;
    width: 15px;
    border-left: 1px solid rgb(100, 100, 100);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #447bfc;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #619cfa;
  }
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar {
    background-color: #cae2f5;
    width: 15px;
    border-left: 1px solid rgb(50, 50, 50);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a8d8ff;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #72c0ff;
  }
}
