* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  color: #000000;
  background-color: #d1e9fd;
  transition: background 0.3s, color 0.3s;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #d1e9fd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #000000;
}

nav img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 20px;
}

nav p {
  font-size: 20px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  color: #000;
  align-items: center;
}
 
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}

main h1,
main h2,
main p {
  padding: 10px;
}

.intro-icon {
  background-color: #e8f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 270px;
  z-index: 900;
}

.intro-icon img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

footer {
  text-align: center;
  background-color: #e8f5ff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer a, main a {
  color: #000000;
  text-decoration: underline;
}
  
footer a:hover,
main a:hover {
  color: #00bfff;
  text-decoration: underline;
}

@keyframes float {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

main, footer {
  animation: float 0.8s ease-out forwards;
}
